# Node modules
node_modules/

# Build output
dist/
build/
.expo/
.expo-shared/
web-build/
android/
ios/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.swp

# Env
.env
.env.*
